<!doctype html>
<html>
    <head>
        <title>sand: {% block title %}{% endblock %}</title>
        <meta name="Description" content="Remix Pebble apps with new colours and features - no coding required!">
        <meta name="Keywords" content="Pebble, Pebble Time, Pebble Steel, smartwatch, app, app store, store, remix, mod, patch, modify, update, recompile, colourize, antialias, aa, recolour, remap, button, flip, launch, schedule, automatic, power, battery, bluetooth, bt">
        <script type="text/javascript" src="/static/js/ext/require.js"></script>
        <script type="text/javascript" src="{{js_url}}"></script>
        <link rel="stylesheet" type="text/css" href="{{ css_url }}">
    </head>
    <body>
        <a href="/"><div class="header">sand: remix pebble apps</div></a>
        {% block content %}{% endblock %}
    </body>
</html>
