<!doctype html>
<html>
    <head>
        <title>sand: remix pebble apps</title>
        <script type="text/javascript" src="/static/js/ext/require.js"></script>
        <script type="text/javascript" src="{{js_url}}"></script>
        <link rel="stylesheet" type="text/css" href="{{ css_url }}">
    </head>
    <body>
        <div class="header">sand: remix pebble apps</div>
        <div id="app"></div>
        <script type="text/javascript">
            require(["jsx!app"], function(App) {
                (new App()).boot();
            });
        </script>
    </body>
</html>
